* {
	font-family: 'Lato', sans-serif;
}

#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10px;
	background-color: #FAD4D8;
}

i {
	padding-right: 10px;
}

#cart {
	border-color: #73BFB8;
	color: #73BFB8;
}

#shop {
	background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-tmall-simple-pink-three-dimensional-cosmetics-banner-image_258848.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity: .8;
	background-position: center;
	background-size: cover;
	padding: 180px;
	text-transform: uppercase;
}

#shop h1 {
	color: #227C9D;
	font-style: oblique;
	font-size: 5rem;
	font-weight: 900;
}

#shop h2 {
	color: #FE6D73;
}

.footer-copyright {
	color: black;
}

.card-title{
	text-align: center;
}

p {
	text-align: center;
}

.btn-primary {
	background-color: white;
	border-color: grey;
	color: black;

}

.bi-star-fill {
	color: gold;
	padding: -10px;
}

.card{
	margin-top: 40px;
	margin-right: 10px;
	margin-left: 10px;
}


.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: white;
  color: red;
  padding: 5px 15px;
  border-radius: 5px;
}

.badge {
	color: white;
	background-color: #73BFB8;
	border-radius: 40%;
	padding: 5px;
	margin-left: 3px;

}

.navbar-nav li a{
	color: black !important;
	font-weight: 600;
	text-align: left;
	background-color: #FAD4D8;
}

#footer{
		background-color: #FAD4D8
}

footer img {
  height: 10rem;
  margin: 1.5rem 0;
}

footer a {
  color: #227C9D;
  padding: 10px;
}
